<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aleaSettings" type="Alea.Settings, Alea"/>
  </configSections>
  <aleaSettings>
    <resource path="C:\dev\FSharp\MatrixMultiplyGitHub\GPU\ResPath" assemblyPath="C:\dev\FSharp\MatrixMultiplyGitHub\GPU\packages\Alea.3.0.4\tools"/>
  </aleaSettings>
</configuration>